/* #region Basic */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

/*Container Mobile version*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*Section Mobile version*/
.section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

/*Скидання стилів global*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
}

/* #endregion */

/* #region Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.header-logo-part {
  color: #2e2f42;
}

.menu-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 16px 0;
}

@media only screen and (min-width: 768px) {
  .menu-nav {
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .menu-nav {
    margin: 0 auto;
  }
}

.mobile-menu-button {
  display: flex;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

.menu-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:active {
  color: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .menu-list :hover,
  .menu-list :focus {
    color: #404bbf;
  }
}

.menu-link.active::after {
  display: block;
  content: "";
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
}

.menu-link.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-link {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contacts-list:active {
  color: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .contacts-list :hover,
  .contacts-list :focus {
    color: #404bbf;
  }
}

/* #endregion */

/* #region Main */

/* #region Hero section 1 */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_tab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_desk@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_desk@2x.jpg);
    }
  }
}

.main-title {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 1158px) {
  .hero-button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero-button:active {
  background-color: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .hero-button:hover,
  .hero-button:focus {
    background-color: #404bbf;
  }
}

/* #endregion */

/* #region Goals section 2 */

/*Visualy hidden*/
/*.goals-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}*/

.goals-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media only screen and (min-width: 1158px) {
  .goals-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.goals-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .goals-text {
    font-weight: 400;
  }
}

.goals-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .goals-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .goals-list {
    flex-wrap: nowrap;
  }
}

.goals-item {
  max-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .goals-item {
    max-width: 356px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
  .goals-item {
    max-width: 264px;
  }
}

.icon-border {
  display: none;
}

@media only screen and (min-width: 1158px) {
  .icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-icon {
    margin: 0 auto;
  }
}

/* #endregion */

/* #region Team section 3 */

.team-section {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.team-item {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .team-item {
    margin: 0;
  }
}

.team-list-content {
  padding: 32px 0;
}

.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-socials-list {
  width: 40px;
  height: 40px;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1158px) {
  .team-socials-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.team-socials-link:active {
  background-color: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .team-socials-link:hover,
  .team-socials-link:focus {
    background-color: #404bbf;
  }
}

/* #endregion */

/* #region Portfolio section 4 */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-item {
  max-width: 288px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    box-shadow: none;
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

.portfolio-desc {
  display: flex;
  padding: 32px 16px;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(101%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
}

.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-item:active .overlay {
  transform: translateY(0%);
}

@media only screen and (min-width: 1158px) {
  .portfolio-item:hover .overlay {
    transform: translateY(0%);
  }
}

/* #endregion */

/* #endregion */

/* #region Footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-left: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer-caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-caption {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-caption {
    margin-right: 120px;
    margin-bottom: 0;
  }
}

.footer-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    margin: 0;
    margin-bottom: 16px;
  }
}

.footer-text {
  display: flex;
  align-items: flex-start;
  max-width: 288px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

@media only screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-nav {
    margin-right: 80px;
  }
}

.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.socials-icon {
  width: 40px;
  height: 40px;
}

.link-icon {
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 1157px) {
  .link-icon:active {
    background-color: #31d0aa;
  }
}

@media only screen and (min-width: 1158px) {
  .link-icon:hover,
  .link-icon:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Footer input */

.footer-subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 16px 24px;
  }
}

.footer-input-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-input-text {
    text-align: start;
  }
}

input {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  input {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  input {
    opacity: 1;
  }
}

  input:active {
    border-color: #31d0aa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
  }

@media only screen and (min-width: 1158px) {
  input:hover,
  input:focus {
    border-color: #31d0aa;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}

input::placeholder {
  color: #fff;
  opacity: 0.6;
}

@media only screen and (min-width: 1158px) {
  input::placeholder {
    opacity: 1;
  }
}

.footer-input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  height: 40px;
  cursor: pointer;
  border: none;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

.footer-input-button:active {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .footer-input-button:hover,
  .footer-input-button:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-button-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 16px;
}

/* #endregion */

/* #region Modal window */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-wrapper {
  padding: 72px 16px 24px 16px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-wrapper {
    position: absolute;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:active {
  background-color: #404bbf;
  border: none;
}

@media only screen and (min-width: 1158px) {
  .modal-button-close:hover,
  .modal-button-close:focus {
    background-color: #404bbf;
    border: none;
  }
}

.modal-button-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover > .modal-button-icon,
.modal-button-close:focus > .modal-button-icon {
  fill: #ffffff;
}

.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 4px;
  width: 256px;
  min-height: 58px;
}

@media only screen and (min-width: 768px) {
  .modal-form {
    width: 360px;
  }
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding: 8px 38px;
  outline: transparent;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .modal-input {
    width: 360px;
  }
}

.modal-input:active {
  border: 1px solid #4d5ae5;
}

@media only screen and (min-width: 1158px) {
  .modal-input:hover,
  .modal-input:focus {
    border: 1px solid #4d5ae5;
  }
}

.modal-form-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:hover + .modal-input-icon,
input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 256px;
  height: 120px;
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 678px) {
  .modal-textarea {
    width: 360px;
  }
}

.modal-textarea:active {
  border: 1px solid #4d5ae5;
}

@media only screen and (min-width: 1158px) {
  .modal-textarea:hover,
  .modal-textarea:focus {
    border: 1px solid #4d5ae5;
  }
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

/* checkbox */

.modal-agreement {
  margin-bottom: 24px;
}

.modal-agreement-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.modal-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.moda-checkbox:active {
  border: 1px solid #404bbf;
}

@media only screen and (min-width: 1158px) {
  .modal-checkbox:hover,
  .modal-checkbox:focus {
    border: 1px solid #404bbf;
  }
}

input[type="checkbox"]:checked + .modal-agreement-text .modal-checkbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

input[type="checkbox"]:focus-visible + .modal-agreement-text .modal-checkbox {
  border: 1px solid #404bbf;
}

.modal-submit-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:active {
  background: #404bbf;
}

@media only screen and (min-width: 1158px) {
  .modal-submit-button:hover,
  .modal-submit-button:focus {
    background: #404bbf;
  }
}

/* #endregion */

/* #region Mobile menu */

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity, visibility;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0%);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: transparent;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-link.active {
  color: #404bbf;
}

.mobile-menu-link:active {
  color: #404bbf;
}

.mobile-menu-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-contact-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-contact-link.active {
  color: #4d5ae5;
}

.mobile-menu-contact-link:active {
  color: #4d5ae5;
}

.mobile-menu-socials-list {
  display: flex;
  gap: 40px;
}

/* #endregion */
